<h1>Channels: Email address</h1>
<p>The following is your email address to use with Channels. Copy and paste it into the box at
  <a href="https://stackoverflow.com/c/charcoal/join">stackoverflow.com/c/charcoal/join</a>.</p>
<input type="text" class="form-control" value="<%= @secret %>@channel-verify.erwaysoftware.com" /><br/>
<%= link_to 'Okay, done it', channels_link_path, class: 'btn btn-success' %>