<h3>Spammers on site: <%= @site.site_name %></h3>
<p>An overview of users who have been caught spamming by Smokey on this site.
  <% if user_signed_in? && current_user.moderator_sites.exists? %>
    Click <em>Not a spammer</em> or <em>Nuked</em> to tell the system that user has been reviewed and the appropriate action taken;
      the user will then be removed from this list.</p>
  <% else %>
    Users are removed from this list when a Stack Exchange  moderator indicates from this page that the user has been reviewed
      and the appropriate action taken.
  <% end %>


<p class="text-muted">Data last updated: <%= @site.last_users_update.present? ? time_ago_in_words(@site.last_users_update) + ' ago' : 'Never' %>
  &mdash; <%= link_to 'Update now', url_for(controller: :stack_exchange_users, action: :update_data, site: @site.id), method: :post %></p>

<%= render 'table', users: @users %>