<div class="row">
  <div class="col-md-10 col-md-offset-1 clearfix">
    <h1>Data Processing</h1>
    <p class="lead">
      This document outlines what data are collected from users as part of normal operation on metasmoke. It contains the rationale for the collection
      of each type of data and the period for which it is retained.
    </p>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Data</th>
          <th>Source</th>
          <th>Rationale</th>
          <th>Retention Period</th>
          <th>Who has access?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Usernames</td>
          <td>Stack Exchange users; metasmoke users</td>
          <td>Used to publicly identify your account without revealing more identifying information to a wider audience.</td>
          <td>Lifetime of your account (metasmoke users); unlimited (Stack Exchange users)</td>
          <td>Public</td>
        </tr>
        <tr>
          <td>Email addresses</td>
          <td>metasmoke users registered without OAuth</td>
          <td>Used as a primary unique identifier for your account, necessary for logging in.</td>
          <td>Lifetime of your account</td>
          <td>Server host (Undo, or future additions)</td>
        </tr>
        <tr>
          <td>IP addresses</td>
          <td>metasmoke users</td>
          <td>Certain actions create a permanent record of the action for auditing purposes, including the source IP address.</td>
          <td>Unlimited</td>
          <td>Developers (Undo, ArtOfCode, thesecretmaster, or future additions)</td>
        </tr>
        <tr>
          <td>Stack Exchange post content</td>
          <td>Stack Exchange users</td>
          <td>Recorded for use in analysis of spam. These do not usually contain PII unless included by the user.</td>
          <td>Unlimited</td>
          <td>Public</td>
        </tr>
        <tr>
          <td>SmokeDetector feedback</td>
          <td>SmokeDetector privileged users</td>
          <td>SmokeDetector feedback is associated with a metasmoke user and used for analysing spam.</td>
          <td>Unlimited</td>
          <td>Public</td>
        </tr>
        <tr>
          <td>Stack Exchange API tokens</td>
          <td>metasmoke autoflagging users</td>
          <td>API tokens must be collected to be able to cast flags on behalf of users for autoflagging; these can be used to identify an account.</td>
          <td>Lifetime of your account or until revoked</td>
          <td>Server host (Undo, or future additions)</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
