<p>
  <strong><%= @reasons.count %></strong>
  filters have caught
  <strong><%= @posts.count %></strong>
  posts in the last 7 days
<p>

<table class="table" style="margin-top:50px">
  <thead>
    <tr>
      <th>Reason</th>
      <th>Last caught</th>
      <th>Accuracy</th>
    </tr>
  </thead>

  <tbody>
    <% @reasons.each do |reason| %>
      <tr>
        <td><%= reason.reason_name %></td>
        <td><%= reason.posts.last.title.html_safe %></td>
        <td>
          <div class="progress" style="height:15px; margin-bottom:0px">
            <div class="progress-bar progress-bar-success" style="width: 90%">
              <span class="sr-only">35% TPU</span>
            </div>
            <div class="progress-bar progress-bar-danger" style="width: 10%">
              <span class="sr-only">10% FPU</span>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
 </tbody>
</table>
