<div class="row">
  <div class="col-md-8 col-md-offset-2 clearfix">
    <h1>Privacy Statement</h1>
    <p class="lead">
      EU citizens: This document is an outlining of your rights and required information, as they relate to the General Data Protection Regulation.
      It is important that you read it. Also contained in this document are contact details for the relevant parties should you have any privacy-related
      requests or concerns.
    </p>

    <p class="text-muted">
      The ordering in this document is a direct reference to points of Article 13 of the General Data Protection Regulation. Points that are irrelevant
      to our use-cases are omitted and this document may therefore skip points.
    </p>

    <h3>1a. Data Controller</h3>
    <p>
      <strong>Charcoal</strong><br/>
      <a href="mailto:smokey@charcoal-se.org">smokey@charcoal-se.org</a>
    </p>

    <h3>1c. Purpose of Collection</h3>
    <p>
      Details of what data are collected from you as a user, including the reasons for their collection and the duration for which they will be retained,
      are available <%= link_to 'here', data_processing_path %>.
    </p>

    <h3>1e. Recipients</h3>
    <p>
      The following people have access to some or all of the information collected by metasmoke:
    </p>
    <ul>
      <li><%= link_to 'Undo', 'https://chat.stackexchange.com/users/73046' %></li>
      <li><%= link_to 'ArtOfCode', 'https://chat.stackexchange.com/users/121520' %></li>
    </ul>

    <h3>2. Your Rights</h3>
    <p>
      <strong>b.</strong> You have the right to request access to your data (that is, to view a complete record of the personal data we have stored about
      you). Further to this, you have the right to request that this data be deleted or corrected. Additionally, you have the right to request a copy of
      your personal data in a format that is convenient for its further reuse elsewhere.
    </p>
    <p>
      <strong>c.</strong> You may withdraw your consent to our processing of your personal data at any time. Such withdrawal of consent will not affect
      the lawfulness of any processing of your personal data completed prior to your withdrawal of consent.
    </p>
    <p>
      <strong>d.</strong> If you believe we are not meeting our obligations with regard to your rights contained herein, you have the right to lodge a
      complaint with the relevant supervisory authority.
    </p>
    <p>
      <strong>e.</strong> Our collection of your personal data for the purposes outlined in <strong>1c.</strong> above is neither a legal nor a
      contractual requirement. You are not obligated to provide us with the requested data; however, failure (whether by choice or inability) to provide
      the requested data will render you ineligible to register an account on metasmoke.
    </p>
  </div>
</div>
