{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": "last 2 versions, > 5%, not ie <= 11"
      },
      "useBuiltIns": true
    }]
  ],

  "plugins": [
    "syntax-dynamic-import",
    ["transform-class-properties", { "spec": true }]
  ]
}
