<h1>
  Review <%= @queue.name.titleize %>
  <small>
    &middot;
    <%= link_to 'History', review_history_path(name: @queue.name) %>
  </small>
</h1>
<p><%= @queue.description %></p>

<div class="review-item-container">
  <% if @item %>
    <%= render "#{@item.reviewable_type.underscore.pluralize}/review_item.html.erb", queue: @queue, item: @item, layout: nil %>
  <% else %>
    Loading...
  <% end %>
</div>
