<h3>Reports by hour</h3>

<%= line_chart Post.where("created_at >= :date", :date => 1.week.ago).group_by_hour(:created_at).count %>

<h3>Reports by site</h3>

<%= pie_chart Post.all.group(:site).count.map{ |k,v| {(k.nil? ? "Unknown" : CGI.unescape(k.site_name))=>v} }.reduce(:merge).select{|k,v| k != "Unknown"}.sort_by {|k,v| v}.reverse %>
