<h3>Users</h3>
<p>A list of all user accounts on the site, with useful links about them and their content. No PII, though - if you
  <em>really</em> need access to that, ping Undo.</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Roles</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to_if user.stack_exchange_account_id.present?, user.username, "//stackexchange.com/users/#{user.stack_exchange_account_id}" %></td>
        <td><%= user.roles.map(&:name).map{|n| n.humanize.downcase}.to_sentence.capitalize %></td>
        <td><%= link_to "Feedback", admin_user_feedback_path(:user_id => user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
