<h3>Edit Flagging Condition</h3>

<% if @condition.errors.any? %>
    <div class="text-danger">
      <p>The following <%= pluralize(@condition.errors.count, "error") %> prevented this condition from being saved:</p>
      <ul>
        <% @condition.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= render partial: "form" %>
