<h3>Condition Sandbox</h3>
<p>This lets you play with different flag condition settings, to test out what gets flagged. This page is heavy on the
  database - <span class="text-danger">please don't abuse it</span>.</p>

<%= render 'form', :exclude_save => true %>
