<h3>Condition Sandbox</h3>
<p>This lets you play with different flag condition settings, to test out what gets flagged. This page is heavy on the
  database - <span class="text-danger">please don't abuse it</span>.</p>

<%= render 'form', :exclude_save => true %>

<div class="row clearfix">
  <div class="col-md-6">
    <%= line_chart af_posts_path, library: { tooltip: { shared: true }, yAxis: { gridLineWidth: 1, minorGridLineWidth: 1, minRange: 100 },
                                             xAxis: { gridLineWidth: 1, minorGridLineWidth: 1, minRange: 10 }, chart: { zoomType: 'xy' } },
                   height: '500px', colors: ['#555', 'green'] %>
  </div>
  <div class="col-md-6">
    <%= line_chart af_accuracy_path, library: { yAxis: { ceiling: 100, floor: 90, gridLineWidth: 1, minorGridLineWidth: 1, minRange: 1 },
                                                xAxis: { gridLineWidth: 1, minorGridLineWidth: 1, minRange: 10 }, chart: { zoomType: 'xy' } },
                   height: '500px', colors: ['gold'] %>
  </div>
</div>
