<h1>New Domain Group</h1>
<p>You can define a new group here. Try to use start and end anchors in your regex where possible (<code>^</code> and <code>$</code>).</p>

<%= render 'form', url: create_domain_group_path %>