<% abuse_reports = item.abuse_reports %>

<% if abuse_reports.count > 0 %>
  <p>Abuse Reports:
    <%= raw(abuse_reports.map do |abuse_report| %>
      <% link_to abuse_report do %>
        #<%= abuse_report.id %>
      <% end %>
    <% end.join(', ')) %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to new_abuse_report_path(reportable_type: item.class.to_s, reportable_id: item.id), class: 'text-muted' do %>
      <span class="glyphicon glyphicon-file"></span> Create Abuse Report
    <% end %>
  </p>
<% else %>
  <%= link_to new_abuse_report_path(reportable_type: item.class.to_s, reportable_id: item.id) do %>
    <span class="glyphicon glyphicon-file"></span> Create Abuse Report
  <% end %>
<% end %>
