<h3>API Filter Generator</h3>
<p>API filters are based on some fairly convoluted logic. If you understand it <em>fully</em>, it's possible to generate
  your own filters on the fly; however, I'd advise using this page instead.</p>
<p>Select <em>only</em> the fields you need; if you select a field from a totally unrelated table and it breaks when you
  use it, you have only yourself to blame. If in doubt about which tables are available for particular routes, ask.</p>

<br/>

<%= filter_generator %>
<div class="pull-right">
  <button type="button" class="btn btn-primary" id="create_filter">Create Filter</button>
</div>
