<table class="table">
  <% params.each do |k, v| %>
   <tr>
     <td><%= k %></td>
     <td>
       <% if v.include?("\n") %>
         <pre style="overflow:scroll;max-height:20em;"><%= raw(sanitize(v).gsub("\n", "<br>")) %></pre>
        <% elsif v.nil? %>
          <code>nil</code>
        <% else %>
          <code><%= v %></code>
        <% end %>
      </td>
   </tr>
  <% end %>
</table>
