<h3>Your Authorized Apps</h3>
<p>Below is a list of apps that you have authorized to perform write operations on metasmoke on your behalf via the API.
  If you no longer want an app to be able to do this, click Revoke Access.</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>App Name</th>
      <th>Last Authorized</th>
      <th>Active Tokens</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @keys.each do |key| %>
      <tr>
        <td><%= key.app_name %></td>
        <td><%= ApiToken.where(:user => current_user, :api_key => key).last.created_at %></td>
        <td><%= ApiToken.where(:user => current_user, :api_key => key).count %></td>
        <td><%= link_to "Revoke Access", url_for(:controller => :users, :action => :revoke_app, :key_id => key.id), :method => :delete,
                :data => { :confirm => "Are you sure? If you want to use this app again, you will have to re-authenticate." }, :class => "text text-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
