// Place all the styles related to the emails/preferences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.preference-title {
  display: flex;
  align-items: center;
}

.switch-container {
  margin: 0 1em;
  display: flex;
  align-items: center;
}

.switch-label {
  font-variant: small-caps;
  margin: 0 0.25em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: all 0.3s ease;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: all 0.3s ease;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #3EB33E;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3EB33E;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.form-inline {
  display: inline;
}
