<h3>API Access Request</h3>
<p>The app <strong><%= @api_key.app_name %></strong> is requesting permission to perform write operations on metasmoke on your behalf.</p>
<p>Granting this permission will enable the app to perform actions such as creating feedback in your name. It will not have to ask for your
  confirmation to do this.</p>
<p><strong>Do you trust this app?</strong></p>
<%= link_to "Yes, grant permission", url_for(:controller => :micro_auth, :action => :authorize, :key => @api_key.key), :method => :post, :class => "btn btn-success" %>
<%= link_to "No, deny permission", url_for(:controller => :micro_auth, :action => :reject), :class => "btn btn-danger" %>
