<h3><%= @reason.reason_name %></h3>

<%= pie_chart @reason.posts.group(:site).count.map{ |k,v| {(k.nil? ? "Unknown" : k.site_name)=>v} }.reduce(:merge).select{|k,v| k != "Unknown"} %>

<table class="table table-striped">
  <thead>
    <th>Title</th>
  </thead>
  <tbody>
    <% @posts.sort { |a,b| b.id <=> a.id }.each do |post| %>
      <%= render "posts/post", :post => post %>
    <% end %>
  </tbody>
</table>

<%= will_paginate @posts %>
