<h3><%= @reason.reason_name %></h3>

<p>Last 10:</p>

<table class="table">
  <thead>
    <th>Title</th>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to_unless post.link.nil?, post.title, post.link %></td>
        <% puts post.id %>
     </tr>
    <% end %>
  </tbody>
</table>
