<h3>Authenticate with Stack Exchange</h3>
<p>Associate your metasmoke account with your Stack Exchange account to provide feedback through the API.</p>

<% if current_user.stack_exchange_account_id.nil? %>
  <%= link_to 'Authenticate', identify_auth_url, class: 'btn btn-success' %>
<% else %>
  <h4><strong>You have already authenticated. You do not need to do so again.</strong></h4>
  <p>However, you can authenticate again (e.g. if you are experiencing problems).</p>
  <% if current_user.has_role? :flagger %>
    <div class="alert alert-danger">
      <p>
        <strong class="text-danger">Warning:</strong> Undo (<a href="http://stackoverflow.com/users/1849664/undo">this one</a>) runs this service.
        Due to how the API operates, <strong>Undo could, theoretically, perform any action on your account</strong>. He won't, and if there's a known breach
        we'll revoke all our access tokens, but we're human. By clicking below, you explicitly acknowledge that you're signing up for the following:
      </p>
      <ul>
        <li>a service run by dogs and humans,</li>
        <li>who are all volunteers,</li>
        <li>with a budget of about four dollars a month</li>
      </ul>
      <br />
      <%= link_to 'Authenticate w/ Write Access', write_auth_url, class: 'btn btn-danger' %>
    </div>
  <% end %>
<% end %>
