<h3>Authenticate with Stack Exchange</h3>
<p>Associate your metasmoke account with your Stack Exchange account to provide feedback through the API.</p>

<% if [:stackexchange_chat_id, :meta_stackexchange_chat_id, :stackoverflow_chat_id].select {|x| current_user[x].nil? }.present? %>
  <%= link_to "Authenticate", "https://stackexchange.com/oauth?client_id=#{@config["client_id"]}&scope=&redirect_uri=#{@config["redirect_uri"]}", class: "btn btn-success" %>
<% else %>
  <p class="text-muted">(you have already authenticated)</p>
<% end %>
