<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js", class: 'js-ace' %>
<%= javascript_include_tag "https://cdn.rawgit.com/asvd/jailed/4d26cd26/lib/jailed.js", class: 'js-jailed' %>

<h3>Data Explorer</h3>
<p><strong>Using this data...</strong></p>
<div class="data-select">
  <ol class="data-list">
    <li><a href="#" class="add-data">Add...</a></li>
  </ol>
  <div class="panel panel-default schema-display">
    <div class="panel-body">
      <p>Schema for table: <code class="schema-table-name"></code></p>
      <pre class="table-schema"></pre>
    </div>
  </div>
</div>

<p><strong>Run the following script...</strong> <em class="text-muted">(JS)</em></p>
<div class="custom-script">
  <p class="toggle-script-help text-info"><a href="#">Toggle help</a></p>
  <div class="panel panel-info script-help">
    <div class="panel-body">
      <p>The data you've selected above is available in <code>store</code>, which is a dictionary whose keys are
        table names and whose values are arrays of database records.</p>
      <p>Values you write to the 2-dimensional <code>results</code> array will be displayed in a table once your
        script has finished executing. The array at <code>results[0]</code> will be used as a header row.</p>
    </div>
  </div>
  <textarea rows="15" cols="100" class="form-control script-input" id="editor">
store => {
  let results = [];
  return results;
};
</textarea>
</div>

<div class="actions">
  <button class="btn btn-default js-theme-toggle" data-toggle="tooltip" data-placement="bottom" title="toggle editor theme">☀️</button>
  <button class="btn btn-primary run-script">Run</button>
  <i
    aria-role="button"
    class="js-script-error glyphicon glyphicon-alert text-danger"
    data-toggle="popover"
    data-placement="bottom"
    data-title="Your script failed to run!"
    data-trigger="hover click"
    data-content="foo foo foo"
    style="display: none;"
    data-template='<div class="popover data-run-error-popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><pre class="popover-content"></pre></div>'>
  </i>
</div>

<table class="table table-condensed table-striped results-table">
  <thead>
    <tr class="results-header"></tr>
  </thead>
  <tbody class="results-body"></tbody>
</table>
<a href="#" class="csv-download">Download results (CSV)</a>

<div class="templates">
  <li id="data-list-row" class="data-list-item template">
    Last
    <input type="number" class="data-type-limit form-control small-fc" />
    <select class="data-type-select form-control small-fc">
      <option value="">data type...</option>
    </select>
  </li>
</div>
