<h3>Disambiguation</h3>

<table class="table">
  <tbody>
    <% @posts.each do |post| %>
      <%= render partial: 'posts/post', locals: { post: post, wrap_in_tr: true } %>
    <% end %>
  </tbody>
</table>