<p id="notice"><%= notice %></p>

<h3><%= title 'Recent posts' %></h3>

<table class="table" id="posts-index-table">
  <thead>
    <tr>
      <th>Post</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <%= render "post", :post => post %>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= paginate @posts, :theme => 'twitter-bootstrap-3' %>
</div>
