<h3>Invalid API Key</h3>
<p>An API application attempted to process write authorization for your metasmoke account, but has provided an unrecongized
  request key. The authorization cannot be completed. Please contact the app's developer to tell them that their request key
  is incorrect.</p>
