<h1>Autoflagging setting changed</h1>
<p><strong><%= @editor.username %></strong> edited setting <code><%= @setting.name %></code>,
  <%= time_ago_in_words(@setting.updated_at) %> ago.</p>
<p>The new value is <code><%= @setting.value %></code>.</p>
