/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.initial-content {
  flex: 1 0 auto;
}

.footer {
  width: 100%;
  background-color: #fafafa;

  margin-top: 20px;

  p {
    padding: 20px;
  }
}

.col-centered {
  float: none !important;
  margin: 0 auto;
}

.login-box {
  margin-bottom: 10px;

  .btn-primary {
    width: 100%
  }
}
#devise-links a {
  color: grey !important
}

@media (min-width: 768px) {
  .navbar-form {
    margin: 0;
    padding-left: 0;
    position: absolute;
    right: 15px;
    z-index: 1;
    pointer-events: none;
    .form-group {
      height: 38px;
      display: flex;
      align-items: center;
      #search {
        width: 250px;
        box-sizing: border-box;
        pointer-events: initial;
        & {
          transition: all 0.4s;
        }
        &:not(:focus) {
          pointer-events: none;
          width: 25px !important;
          opacity: 0;
        }
      }
    }
  }
}

.sortable-table th:not(.no-sort) {
  cursor: pointer;
  padding-left: 1em;
  position: relative;

  &::before, &::after {
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 4px;
    border-style: none solid;
    border-color: #999;
    border-right-color: transparent;
    border-left-color: transparent;
  }
  &::before {
    border-bottom-style: solid;
    bottom: 1.4em;
  }
  &::after {
    bottom: 0.9em;
    border-top-style: solid;
  }
}

.login-box form {
  border: 1px solid lightgrey;
  padding: 20px;
  border-radius: 4px;
}

.se-oauth-button {
  width: 100%;
  margin-bottom: 20px !important;
}

.se-icon {
  height: 22px;
}

.se-auth-or-label {
  text-align: center;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.35em;

  &:before, &:after {
    content: '-';
    display: inline-block;
    margin: 0.5em;
    font-weight: normal;
  }
}

.dropdown-indent a {
  padding-left: 30px !important;
}

.navbar-header {
  display: flex;
  align-items: center;
  @media (max-width: 768px) {
    .navbar-brand {
      flex: 1;
    }
    .navbar-toggle {
      order: 1; // flexbox version of float: right
      &::before {
        content: '';
        position: absolute;
        top: -0.4em;
        left: -0.4em;
        width: 0.75em;
        height: 0.75em;
        border-radius: 50%;
      }
    }
  }
}

body .profiler-results {
  position: absolute;
  top: 52px !important;
}

#metasmoke-deployed-banner {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
  z-index: 1048576;
}

.module {
  border: 1px solid lightgray;
  box-shadow: 2px 2px 7px lightgray;
  border-radius: 4px;
  padding-bottom: 3px;
}

.module-green {
  border-top: 4px solid green;
  padding-bottom: 0;
}

.module-green .status-text {
  color: green;

  a, a:visited {
    color: green;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover, a:active {
    color: green;
    text-decoration: underline;
    font-weight: bold;
  }
}

.module-amber {
  border-top: 4px solid orange;
  padding-bottom: 0;
}

.module-amber .status-text {
  color: orange;

  a, a:visited {
    color: orange;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover, a:active {
    color: orange;
    text-decoration: underline;
    font-weight: bold;
  }
}

.module-red {
  border-top: 4px solid red;
  padding-bottom: 0;
}

.module-red .status-text {
  color: red;

  a, a:visited {
    color: red;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover, a:active {
    color: red;
    text-decoration: underline;
    font-weight: bold;
  }
}

.module-header {
  padding: 3px 10px;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.module-title {
  font-variant: small-caps;

  a, a:visited {
    color: #333;
    text-decoration: none;
  }

  a:hover, a:active {
    color: #333;
    text-decoration: underline;
  }
}

.module-body {
  padding: 10px;
}

.form-submit {
  cursor: pointer;
  font-weight: bold;
}

.panel-body h3 {
  margin-top: 0;
}

/*Temporary fix for dropdown menus:*/
.dropdown-menu.inner {
  position: unset;
}

.dropdown-menu.open > .inner.open {
  overflow-x: hidden !important;
}

.filter-option {
  display: inline-block;
  width: 100%;
  overflow-x: hidden;
  margin-right: 10px;
  vertical-align: bottom;
}

.dropdown.bootstrap-select.bs3 {
  display: inline-block;
}

.dropdown-menu.inner {
  small.text-muted {
    padding-left: 5px;
  }

  a {
    min-height: 26px;
  }

  .no-results {
    padding: 3px;
    background: #f5f5f5;
    margin: 0 5px;
    white-space: nowrap;
  }
}

.dropdown-menu > .active > a .text-muted, .dropdown-menu > .active > a:focus .text-muted, .dropdown-menu > .active > a:hover .text-muted {
  color: #ddd;
}

.domain-tag-list {
  position: relative;

  form.review-add-domain-tag .dropdown,
  form.add-domain-tag .dropdown {
    position: unset;
  }

  /*Keep the dropdown a semi-reasonable size*/
  form.review-add-domain-tag .dropdown-menu.open,
  form.add-domain-tag .dropdown-menu.open {
    max-width: 90%;
    left: 5%;
    max-height: 90vh !important; /* This property is assigned by JavaScript on the element. */
  }
}

/* Tag formatting in domain tag dropdown */
.domain-tag-list {
  button:not(.bs-placeholder) .filter-option-inner-inner {
    padding-top: 0px;
    padding-bottom: 3px;
  }

  .dropdown-menu.inner li a:not([id$="-0"]) .text {
    padding-top: 1px;
    padding-bottom: 3px;
  }

  button:not(.bs-placeholder) .filter-option-inner-inner,
  .dropdown-menu.inner li a:not([id$="-0"]) .text {
    background-color: #5bc0de;
    color: white;
    padding-left: 5px;
    vertical-align: text-bottom;
  }

  button:not(.bs-placeholder) .filter-option-inner-inner.special-tag,
  .dropdown-menu.inner li a.special-tag:not([id$="-0"]) .text {
    background-color: #f0ad4e;
  }

  .filter-option {
    height:20px;
  }

  .filter-option-inner-inner {
    display: inline-block;
  }

  button:not(.bs-placeholder) .filter-option-inner-inner:before,
  .dropdown-menu.inner li a:not([id$="-0"]) .text::before {
    content: "#";
    margin-right: 1px;
  }

  .dropdown-menu.inner {
    a .text small {
      font-weight: normal;
      margin-left: 5px;
      background-color: white;
      border: 5px solid white;
    }

    a:hover .text small {
      background-color: #f5f5f5;
      border-color: #f5f5f5;
    }

    li.active a .text small {
      background-color: #337ab7;
      border-color: #337ab7;
    }
  }

  .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    padding-bottom: 4px;
  }

  .filter-option-inner-inner small {
    background-color: white;
    border: 5px solid white;
    margin-left: 5px;
  }

  .dropdown.bootstrap-select.open button:hover .filter-option-inner-inner small,
  .dropdown.bootstrap-select.open button:focus .filter-option-inner-inner small,
  button:active:hover .filter-option-inner-inner small {
    background-color: #d4d4d4;
    border-color: #d4d4d4;
  }

  .dropdown.bootstrap-select.open .filter-option-inner-inner small,
  button:active .filter-option-inner-inner small,
  button:focus .filter-option-inner-inner small,
  button:hover .filter-option-inner-inner small {
    background-color: #e6e6e6;
    border-color: #e6e6e6;
  }
}

/* Multi-select dropdown (e.g. Sites) with checkmark indicating selection */
.dropdown-menu.inner {
  li:not(.selected) .glyphicon.glyphicon-ok.check-mark {
    display: none;
  }
  li .glyphicon.glyphicon-ok.check-mark {
    margin-right: 4px;
    margin-left: -18px;
  }
}

.icon-nav-bar {
  padding: 0;
  position: absolute;
  border: solid lightgray 1px;
  border-top: none;
  border-left: none;
  border-bottom-right-radius: 4px;
  margin-top: 1px;
}
.icon-nav-bar li a {
  padding: 0.7em;
}
