/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.footer {
  height: 70px;
  width: 100%;
  background-color: #fafafa;

  margin-top: 20px;

  p {
    padding: 20px;
  }
}

.col-centered {
  float: none !important;
  margin: 0 auto;
}

.login-box {
  margin-bottom: 10px;

  .btn-primary {
    width: 100%
  }
}
#devise-links a {
  color: grey !important
}

@media (min-width: 768px) {
  .navbar-form {
    margin: 0;
    padding-left: 0;
    position: absolute;
    right: 15px;
    z-index: 1;
    pointer-events: none;
    .form-group {
      height: 38px;
      display: flex;
      align-items: center;
      #search {
        width: 250px;
        box-sizing: border-box;
        pointer-events: initial;
        & {
          transition: all 0.4s;
        }
        &:not(:focus) {
          pointer-events: none;
          width: 25px !important;
          opacity: 0;
        }
      }
    }
  }
}

.sortable-table th:not(.no-sort) {
  cursor: pointer;
  padding-left: 1em;
  position: relative;

  &::before, &::after {
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 4px;
    border-style: none solid;
    border-color: #999;
    border-right-color: transparent;
    border-left-color: transparent;
  }
  &::before {
    border-bottom-style: solid;
    bottom: 1.4em;
  }
  &::after {
    bottom: 0.9em;
    border-top-style: solid;
  }
}

.login-box form {
  border: 1px solid lightgrey;
  padding: 20px;
  border-radius: 4px;
}

.se-oauth-button {
  width: 100%;
  margin-bottom: 20px !important;
}

.se-icon {
  height: 22px;
}

.se-auth-or-label {
  text-align: center;
}

.dropdown-indent a {
  padding-left: 30px !important;
}

.navbar-header {
  display: flex;
  align-items: center;
}
