// Place all the styles related to the FlagSettings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.module {
  border: 1px solid lightgray;
  box-shadow: 2px 2px 7px lightgray;
  border-radius: 4px;
}

.module-green {
  border-top: 4px solid green;
}

.module-green .status-text {
  color: green;
}

.module-amber {
  border-top: 4px solid orange;
}

.module-amber .status-text {
  color: orange;
}

.module-red {
  border-top: 4px solid red;
}

.module-red .status-text {
  color: red;
}

.module-header {
  padding: 3px 10px;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.module-title {
  font-variant: small-caps;
}

.module-body {
  padding: 10px;
}
