// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-post-body {
  cursor: pointer;
}

// Shamelessly stolen from http://stackoverflow.com/a/248013/1849664. Go upvote that answer.
pre.post-body-pre-block {
  white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.post-body {
  clear: both;
}

.post-row-right {
  float: right;
}

body.posts .bootstrap-select .btn.dropdown-toggle {
  padding-top: 4px;
  padding-bottom: 4px;
}
