// Place all the styles related to the reasons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-body {
  margin-left: 20px;
  margin-top: 10px;
}
.report-reasons {
  background-color: lightyellow;
  padding: 5px;
}
.inactive-reason a {
  color: grey;
}
