// Place all the styles related to the SpamDomains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-domain-tag, .add-post-tag {
  margin-left: 15px;
}

.domain-tag-list {
  display: flex;
  align-items: center;
  width: 100%;

  p {
    margin-top: 7px;
  }
}

.domain-tag {
  color: white !important;
}

.tag-label form {
  display: inline;
}

.tag-label {
  margin: 0 5px;
}

.spam-domain {
  display: inline-block;
  padding: 0.5em 0;
}

/* Spam domains pages: more responsive */
body.spam-domains {
  h1 {
    word-break: break-all;
  }

  .domain-tag-list {
    display: block;

    > * {
      display: inline-block;
    }
  }

  table.table-striped {
    td:first-of-type {
      overflow-wrap: anywhere;
      word-break: break-all;
    }
  }
}
