// Place all the styles related to the status controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status-good {
  a {
    border-bottom: 3px solid green;
    padding-bottom: 13px !important;
  }
}
.status-warning {
  a {
    border-bottom: 3px solid orange;
    padding-bottom: 13px !important;
  }
}
.status-critical {
  a {
    border-bottom: 3px solid red;
    padding-bottom: 13px !important;
  }
}
