<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Smokey is down</h1>
    <p>
      FYI :)
    </p>
    <p>The most recent ping was from <%= @location %>, <%= time_ago_in_words(@last_ping_date) %> ago.</p>
  </body>
</html>
